<section class="flex flex-col items-center justify-center py-10 w-screen px-10">

  <h2>Resend confirmation instructions</h2>

  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <% f.options[:html][:class] += ' flex flex-col items-center gap-4 px-0 mb-4' %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
    </div>

    <div class="actions w-[100%] border-2 border-gray-600 self-auto text-center px-4 py-2">
      <%= f.submit "Resend confirmation instructions" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</section>
