<div class="flex flex-col justify-center items-center gap-4">
  <h1 class="text-4xl"><%= @recipe.name %></h1>
  <div class="w-full flex gap-4 justify-between">
    <div class="w-4/5 flex flex-col gap-2 text-md">
      <h2>Preparation time: <%= @recipe.preparation_time %></h2>
      <h2>Cooking time: <%= @recipe.cooking_time %></h2>
      <h2><%= @recipe.description %></h2>
    </div>
    <% if can? :update, @recipe %>
      <div class="w-1/6 flex justify-right">
        <% if @recipe.public == true%>
          <div class="w-full flex">
            <h1 class="ml-auto">Public</h1>
            <%= button_to "O", { action: 'update', id: @recipe.id }, method: :put, class: 'text-white border-white border-2 p-0 text-right rounded-full text-2xl bg-green-500 leading-none w-[50px]' %>
          </div>
        <% else %>
          <div class="w-full flex">
            <h1 class="ml-auto">Public</h1>
            <%= button_to "O", { action: 'update', id: @recipe.id }, method: :put , class: 'text-white border-white border-2 p-0 w-1/4 text-left rounded-full text-2xl bg-red-500 leading-none w-[50px]'%>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>