<nav class="bg-white shadow-md flex justify-start items-center p-4 h-16">
  <% if user_signed_in? %>
    <h1 class="mr-auto">Welcome <%= current_user.name %>!</h1>
    <a href="/" class="px-3 py-2 rounded-md text-sm font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50">Public Recipes</a>
    <a href="<%= recipes_path(current_user) %>" class="ml-3 px-3 py-2 rounded-md text-sm font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50">My Recipes</a>
    <a href="<%= foods_path(current_user) %>" class="ml-3 px-3 py-2 rounded-md text-sm font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50">My Food</a>
    <a href="<%= shoping_list_path(current_user) %>" class="ml-3 px-3 py-2 rounded-md text-sm font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50">Shopping List</a>
    <%= button_to 'Sign Out', destroy_user_session_path, method: :delete, class:"ml-3 px-3 py-2 rounded-md text-sm font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50" %>
  <% end %>
</nav>