<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Recipes on Rails</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href=<%= root_path %>>Home</a>
          <a class="nav-link" href=<%= public_recipes_path %>>Public Recipes</a>
        </div>
        <div class="nav-buttons ms-auto d-flex align-items-baseline">
          <% if current_user.present? %>
            <div class="btn-group">
              <button
                type="button"
                class="btn btn-outline dropdown-toggle me-3"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Welcome,
              <%= current_user.name %>
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href=<%= recipes_path %>>My Recipes</a></li>
                <li><a class="dropdown-item" href=<%= foods_path %>>My Inventory</a></li>
                <li><a class="dropdown-item" href=<%= shopping_list_path %>>Generate Shopping List</a></li>                
              </ul>
            </div>            
            <%= button_to(
              "Log Out",
              destroy_user_session_path,
              method: :delete,
              class: "btn btn-primary"
            ) %>
          <% else %>
            <a class="nav-item btn btn-primary me-2" href=<%= user_session_path %>>Log in</a>
            <a class="nav-item btn btn-secondary" href=<%= new_user_registration_path %>>Sign up</a>
          <% end %>
        </div>
      </div>
    </div>
  </nav>
</header>