<div class="flex flex-col items-center justify-center">
  <h1 class="text-4xl font-bold mb-4">Add Ingredient to <%= recipe.name %></h1>

  <%= form_with(model: recipe_food, url: new_recipe_recipe_food_path(recipe.id), class: "bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4") do |form| %>
    <div class="mb-4">
      <%= form.label :quantity, class: "block text-gray-700 font-bold mb-2" %>
      <%= form.number_field :quantity, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>

    <div class="mb-4">
      <%= form.label :recipe_id, class: "block text-gray-700 font-bold mb-2" %>
      <%= form.collection_select :recipe_id, Recipe.all, :id, :name, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>

    <div class="mb-4">
      <%= form.label :food_id, class: "block text-gray-700 font-bold mb-2" %>
      <%= form.collection_select :food_id, Food.all, :id, :name, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>

    <div class="flex items-center justify-between">
      <%= form.submit "Create Recipe Food", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
    </div>
  <% end %>
</div>