<h1 class="mb-4 text-3xl">Add Ingredient to <%= @recipe.name %></h1>
  <%= form_with model: @ingredient, url: recipe_ingredients_path, local: true, scope: :ingredient do |form| %>

    <div class="mb-2">
      <%= form.label :quantity, class: "block text-gray-700 font-bold mb-1" %>
      <%= form.number_field :quantity, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>

    <%= form.hidden_field :recipe_id, :value => @recipe.id %>

    <div class="mb-6">
      <%= form.label :food_id, class: "block text-gray-700 font-bold mb-1" %>
      <%= form.collection_select :food_id, Food.all, :id, :name, class: "w-full shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>
    
    <div class="bg-blue-400 text-white px-4 py-2 rounded-lg w-min">
      <%= form.submit "Add ingredient" %>
    </div>
  <% end %>