<div id="<%= dom_id food %>">
  <table class="table mx-auto text-center m-5" style="width: 90%; font-size: 1.2rem;">
    <thead>
      <tr>
        <th class="p-4">Id</th>
        <th class="p-4">Name</th>
        <th class="p-4">Measurement Units</th>
        <th class="p-4">Price</th>
        <th class="p-4">Quantity</th>
        <th class="p-4">Owner</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="p-4"><%= food.id %></td>
        <td class="p-4"><%= food.name %></td>
        <td class="p-4"><%= food.measurement_unit %></td>
        <td class="p-4"><%= food.price %></td>
        <td class="p-4"><%= food.quantity %></td>
        <td class="p-4"><%= food.user.name %></td>
      </tr>
    </tbody>
  </table>
</div>
