<div id="<%= dom_id food %>">
  <tr>
    <td class="text-center py-4"><%= food.name %></td>
    <td class="text-center py-4"><%= food.quantity %></td>
    <td class="text-center py-4"><%= food.price %></td>
    <td class="text-center py-4"><%= food.measurement_unit %></td>
    <td class="flex py-4 px-4">
      <%= link_to "Edit", edit_food_path(food), class: 'bg-blue-500 hover:bg-blue-7
      00 text-white font-bold py-2 px-4 rounded mr-2 text-xs' %>
      <%= button_to "Remove", food_path(food), method: :delete, data: { confirm: 'Are you sure?' }, class: 'bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded text-xs' %>
    </td>
  </tr>
</div>
