<div class="container">
  <h1 class="text-center mt-5 mb-5">Shopping List</h1>

  <div class="d-flex justify-content-around mx-auto mb-5" style="width: 80%">
    <h4>Total items: <%= @shoping_list.length %></h4>
    <% cost = 0
      @shoping_list.each do |food| 
      cost += (Food.find_by(name: food[0]).price) * food[1]
    %>
    <% end %>
    <h4>Total cost: $<%= cost %></h4>
  </div>

  <table class="table table-striped mx-auto text-center" style="width: 80%">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Product</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
      <% @shoping_list.each do |food| %>
        <tr> 
          <td><%= food[0] %></td>
          <td><%= food[1] %></td>
          <td>$<%= (Food.find_by(name: food[0]).price) * food[1] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>